.main {
  padding: 2rem;
  min-height: 100vh;
  font-family: var(--font-pacifico);
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.fullRow {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: flex;
  flex: 1 1 40%;
  gap: 20px;
  border: 1px solid #fff;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.link:hover {
  background: rgba(255, 255, 255, 0.1);
  transition: 200ms ease-in-out;
}

